[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "bootstrap"]
	path = static/css/bootstrap
	url = https://github.com/upflinkoping/bootstrap
