{{ define "main" }}
  <section class="site-project-single-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="site-project-single">
            <h1>
              {{/*  {{ .Title }}  */}}
              {{/*  {{ Params.Items_type }}  */}}
              {{/*  {{ .Page.Items_type }}  */}}
              {{/*  {{ printf "%#v" $.Site }}  */}}
              {{/*  {{ printf "%#v" .Page }}  */}}
              {{/*  {{ .Description }}  */}}
              {{/*  {{ .Section }}  */}}
              
            </h1>
            {{ range first 4 (where $.Site.RegularPages "Type" "{{ .items_type }}") }}
              <div class="col-lg-6 col-md-10 mx-auto">
                <div class="site-project-item">
                  <div class="site-project-item-thumb">
                    <img src="{{ .Params.Image | absURL }}" alt="project-thumb" />
                  </div>
                  <div class="site-project-item-content">
                    <span>{{ delimit .Params.category ", " }}</span>
                    <h3>{{ .Title }}</h3>
                    <a href="{{ .Permalink }}" class="read-more">view examples</a>
                  </div>
                </div>
              </div>
            {{ end }}
            <div class="site-project-single-description">
              {{ .Content }}
            </div>
            <div class="site-project-single-image">
              {{ range .Params.project_images }}
                <img src="{{ . | absURL }}" alt="project image" />
              {{ end }}
            </div>
            {{ if .NextInSection }}
              <div class="site-project-single-action">
                <a href="{{ .NextInSection.Permalink }}">
                  <span class="link-area">
                    <span data-text="Next Project"> Next Project </span>
                  </span>
                  <img src="{{ "images/to-top.svg" | absURL }}" alt="next project" />
                </a>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "call-to-action.html" . }}
{{ end }}
