.portfolio-section {
  &-header {
    padding: 30px 0 0;
    @include mobile {
      padding: 100px 0 0;
    }
    h1 {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin-bottom: 20px;
      @include mobile {
        font-size: 35px;
      }
    }
    p {
      line-height: 28px;
    }
  }
}