.site-calendar {
  padding-top: 120px;

  .section-title {
    margin-bottom: 40px;
  }
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 10px;
  // color: $black;
  

  button {
    //border: 0px;
    // background-color: $upf-yellow;
  }
}
