.site-footer {
  background: $secondary-color;
  padding: 100px 0;
  @include text-color($white);
  &-logo {
    margin-bottom: 50px;
    @include mobile {
      text-align: center;
    }
    span {
      width: 200px;
    }
    svg {
      fill: white;
    }
  }
  &-widget {
    @include desktop {
      margin-bottom: 40px;
    }
    @include mobile {
      text-align: center;
    }
    &-title {
      margin-bottom: 30px;
      @include desktop {
        margin-bottom: 20px;
      }
    }
    &-description {
      line-height: 30px;
    }
    &-links {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          transition: all 0.3s $site-ease;
          display: block;
          &:hover {
            color: black;
          }
        }
        &:not(:last-child) {
          a {
            padding-bottom: 9px;
          }
        }
      }
    }
    &-top {
      @include mobile {
        text-align: center;
        display: block;
      }
      img {
        margin-bottom: 20px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-copyright {
    p {
      margin: 50px auto 0;
      text-align: center;
    }
    a {
      color: $text-color-dark;
      transition: all 0.3s ease;
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        margin-bottom: 70px;
      }
    }
  }
}

.test {
  span {
    filter: invert(0%) grayscale(100%) brightness(165%);
    &:hover {
      filter: invert(0%)grayscale(100%) brightness(75%);
    }
  }
}
