<section class="portfolio-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="portfolio-section-header col-lg-10 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Content }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-blog">
  <div class="container">
    <div class="row">
      <div class="col-l2">
        <div class="site-project-single">
          <h1>{{ .Title }}</h1>
          <div class="portfolio-section">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range (where $.Site.RegularPages "Type" .Section) }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-blog-post-content">
          </div>
          <div class="site-project-item--small">
            <div class="site-project-item--small-thumb">
              <img src="{{ ((resources.GetMatch .Params.Image).Fill "960x960").Permalink }}" width="100%" alt="" />
            </div>
            <div class="site-project-item--small-content">
              <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
              <h3><a href="{{ .Permalink }}">{{ title .Title }}</a></h3>
              <a href="{{ .Permalink }}" class="read-more">read more</a>
              <p>{{ .Summary }} ...</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>