{{ define "main" }}
  <section class="text-bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <article class="post">
            <span class="fs-5">
              {{- partial "breadcrumb.html" . -}}
            </span>
            <p class="mt-4">
              {{ .PublishDate.Format "January 2, 2006" }}
              {{ with .Params.author }}<span>by {{ . }}</span>{{ end }}
            </p>
            <h2 class="post-title">{{ title .Title | safeHTML }}</h2>
            {{/* <img class="feature-image" src="{{ .Params.image | absURL }}" alt="blog-feature-image"> */}}
            {{ $showInstagram := true }}
            {{ with .Params.gallery }}
              {{ partial "carousel.html" (dict "images" . "duration" "7000") }}
              {{ $showInstagram = false }}
            {{ end }}

            {{ with .Params.facebook_id }}
              {{ partial "facebook_event.html" . }}
            {{ end }}

            {{ .Content }}
          </article>
        </div>
      </div>
    </div>
  </section>

  {{ if $showInstagram }}
    {{ partial "instagram" . }}
  {{ end }}

  {{ partial "call-to-action.html" . }}
{{ end }}
