{{ define "main" }}
  <section class="site-blog details text-bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <article class="site-blog-post">
            {{- partial "breadcrumb.html" . -}}
            <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
            <h2 class="post-title">{{ title .Title | safeHTML }}</h2>
            {{/* <img class="feature-image" src="{{ .Params.image | absURL }}" alt="blog-feature-image"> */}}
            {{ if .Params.gallery }}
              {{ partial "carousel.html" (dict "context" . "images" .Params.gallery "duration" "7000") }}
            {{ else }}
              {{ .Scratch.Set "showInstagram" true }}
            {{ end }}
            {{ .Content }}
          </article>
        </div>
      </div>
    </div>
  </section>

  {{ if (.Scratch.Get "showInstagram") }}
    {{ partial "instagram" . }}
  {{ end }}

  {{ partial "call-to-action.html" . }}
{{ end }}
