<style>
  .breadcrumb {
    background-color: unset;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }
  .breadcrumb-item a {
    color: black;
  }
</style>

<ul class="breadcrumb">
  {{ $tempScratch := newScratch }}
  {{ template "breadcrumbnav" (dict "tempScratch" $tempScratch "p1" . "p2" .) }}
</ul>

{{ define "breadcrumbnav" }}
  {{ .tempScratch.Set "classes" (slice "breadcrumb-item") }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "tempScratch" .tempScratch "p1" .p1.Parent "p2" .p2 ) }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "tempScratch" .tempScratch "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}

  {{ if eq .p1 .p2 }}
    {{ .tempScratch.Set "last" true }}
    {{ .tempScratch.Add "classes" "active" }}
  {{ end }}

  {{ .tempScratch.Set "title" (cond (.p1.IsHome) "Home" .p1.Title) }}

  {{/* {{ delimit (.tempScratch.Get "classes") " " }} */}}
  <li class="{{ delimit (.tempScratch.Get "classes") " " }}">
    {{ if ne (.tempScratch.Get "last") true }}
      <a href="{{ .p1.RelPermalink }}">{{ .tempScratch.Get "title" }}</a>
    {{ else }}
      <!-- will always be last: -->
      {{ .p1.Title }}
    {{ end }}
  </li>
{{ end }}
