{{ $images := .images }}
<div id="carousel10" class="carousel my-4" duration="{{ .duration }}">
  <ul>
    {{ range $index, $slide := $images }}
      <li id="c10_slide{{ add $index 1 }}" class="cslide" data-items="none">
        {{ $image_type_arr := split $slide "." }}
        {{ $image_ext := index $image_type_arr 1 }}
        {{ if eq $image_ext "mp4" }}
          <video controls><source src="{{ $slide }}" type="video/mp4"></video> 
        {{ else }}
          <img src="{{ $slide.Permalink | absURL }}" alt="" />
        {{ end }}
        
      </li>
    {{ end }}
  </ul>
  <ol>
    {{ range $index, $page := $images }}
      <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
    {{ end }}
  </ol>
  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>
