{{ with .Site.Data.description }}
  {{ if .enable }}
    <section class="site-description text-bg-primary" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>{{ .heading }}</h2>
            </div>
            <h5 class="text-white text-lg-left text-center">{{ .description }}</h5>
          </div>
        </div>
        <div class="d-grid mt-5 mx-auto">
          <a href="#cta" class="btn btn-secondary btn-lg btn-block scroll-to">
            <span class="btn-area">
              <span data-text="{{ .subtitle }}">
                {{ .subtitle }}
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
