<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container">
    <a class="navbar-brand m-0 p-0" href="{{ .Site.BaseURL }}">
      {{ partial "svg" (print .Site.Params.Logo) }}
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sitenavbar">
      {{ range seq 3 }}
        <span class="icon-bar"></span>
      {{ end }}
    </button>

    <!--Collapse-->
    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav form-inline navbar-social ms-auto">
        {{ range .Site.Menus.social }}
          <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link px-3">
              {{ partial "svg" (print .Pre) }}
            </a>
          </li>
        {{ end }}
      </ul>
      <hr class="line-vertical ms-4 d-none d-lg-block" />
      <ul class="navbar-nav main">
        {{- $currentPage := . -}}
        {{- $menu := (.Site.Menus.main) -}}
        {{- $len := (len $menu) -}}
        {{ range $index, $element := $menu }}
          {{- if eq (add $index 1) $len -}}
            <li class="nav-item">
              <div class="d-grid">
                <a class="nav-link btn btn-sm btn-primary btn-sm-rounded text-white" href="{{ .URL | absURL }}">
                  <span class="btn-area">
                    <span data-text="{{ .Name }}">{{ .Name }}</span>
                  </span>
                </a>
              </div>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="nav-link {{ if (eq (strings.TrimRight "/" $currentPage.RelPermalink) .URL) }}active{{ end }}" href="{{ .URL | absURL }}"> {{ .Name }} </a>
            </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </div>
</nav>
