<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container">

    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      {{ partial "svg-inline.html" .Site.Params.Logo }}
      {{/* <img src="{{ .Site.Params.logo }}" alt="logo" height=40px /> */}}
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sitenavbar, #navbarsocials">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      {{/*  <span class="navbar-toggler-icon"></span>  */}}
    </button>
    <ul class="collapse navbar-collapse navbar-nav form-inline navbar-social w-100" id="navbarsocials">
      {{ range .Site.Menus.social }}
        <li>
          <a href="{{ .URL | absURL }}" class="item">
            {{ partial "svg-inline.html" .Pre }}
          </a>
        </li>
      {{ end }}
    </ul>

    <hr class="line-vertical d-none d-lg-block" />

    <!--Collapse-->
    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ml-auto main-nav">
        {{ $menu := (.Site.Menus.nav) }}
        {{ $len := (len $menu) }}
        {{ range $index, $element := $menu }}
          {{ if eq (add $index 1) $len }}
            <li class="nav-item">
              <div class="d-grid">
                <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="{{ .URL | absURL }}">
                  <span class="btn-area">
                    <span data-bs-text="{{ .Name }}">{{ .Name }}</span>
                  </span>
                </a>
              </div>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}"> {{ .Name }} </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
