
<link rel="stylesheet" href="./jquery-pintura/pintura.css" />
<script src="jquery.js"></script>
<script src="jquery-pintura/pintura.js"></script>

<style>
    .pintura-editor {
        height: 600px;
    }
</style>

<div id="editor"></div>

<script>
    $(function () {
        var editor = $('#editor').pinturaDefault({ src: '/images/board/vincent_garbrant.jpg' });

        editor.on('pintura:load', function (event) {
            const imageState = event.detail;

            {
                // Create a normal image and send it to smartcrop.js
                const image = new Image();
                image.src = URL.createObjectURL(dest);
                image.onload = async () => {
                    // Calculate the smart crop rectangle, set aspect ratio to 3:4
                    const { topCrop } = await smartcrop.crop(image, {
                        width: 3,
                        height: 4,
                    });

                    // Update the editor crop
                    $(editor).pintura('imageCrop', topCrop);
                };
            }
        });
    });
</script>