<section class="text-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{/* <div class="card border-0"> */}}
        {{/* {{ $image := (resources.Get "images/portfolio/lectures/lectures.svg") }} */}} {{/* <img src="{{ $image.RelPermalink | absURL }}" class="card-img" alt="group photo" /> */}}
        {{/* <div class="card-img-overlay center-btn"></div> */}}
        {{/* </div> */}}
        <div class="mx-auto bg-primary">
          <img src="{{ (resources.Get "images/portfolio/lectures/lectures.svg") }}" class="card-img-top" alt="..." />
          {{/* <div class="bg-primary">d</div> */}}
          <div class="card">
            <div class="card-body hover-item text-bg-gray">
              <h3>Lectures</h3>
              <a href="" class="read-more">view examples</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
