{{ define "main" }}
  {{ with .Site.Params.error }}
    <section class="text-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-title mb-5">
              <h1>{{ .code }}</h1>
              <p>{{ .text }}</p>
            </div>
            <a href="{{ .button.url | absURL }}" class="btn btn-primary">
              <span class="btn-area">
                <span data-text="{{ .button.text }}">
                  {{ .button.text }}
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
